.friend-list {
  width: 500px;
  margin: 20px auto;
  border-radius: 6px;
}
.item {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: white;
  align-items: center;
  font-family: sans-serif;
}
.activ {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.disactive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.avatar {
  border-radius: 30px;
}
